body{
	background-color: #ff0;
}

.log_reg{
	border: 1px solid #ccc;
	width: 17%;
	height:	280px;
}

.log_reg .buttons span{
	margin-right: 40px;
	cursor: pointer;
}

.log_reg .buttons{
	width: 100%;
	/*border: 1px solid #0ff;*/
	border-bottom: 1px solid #ccc
}

.log_reg .login{
	position: absolute;
	width: 16%;
	/*border: 1px solid #f00;*/
}

.log_reg .register{
	position: absolute;
	display: none;
	height: 250px;
	width: 16%;
	/*border: 1px solid #0f0;*/
}

.register .student_details {
	position: absolute;
	/*border: 1px solid #f00;*/
	height:	70px;
	width: 100%;
}

.register .teacher_details {
	position: absolute;
	/*border: 1px solid #f00;*/
	display: none;
	height:	70px;
	width: 100%;
}

input[type="submit"] {
  margin-top: 80px;
}


/*OTHERS*/
.slide{
    width:960px;
    height:392px;
    display:inline;
    float:left;
    position: absolute;
}

/*USERS LIST TABLES*/
.users_list_table, .add_users_table
{
    display:  table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;
}

.headRow
{
	display:table-row;
   	width:auto;
   	font-weight: bold;
}
.divRow
{
   display:table-row;
   width:auto;
}

.divCell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:200px;
    background-color:#ccc;
}